// Variables index

$colour-primary: rgb(87, 156, 135);
$colour-secondary: rgb(253, 203, 70);


// Variables Menu 

$box-shadow: 0 0 10px 5px #ededed;
$background-menu1: rgb(252, 223, 219);
$background-menu2: rgba(255, 245, 254);
$title-menu1: #000000;

