.divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

h1 {
  background-image: linear-gradient(to right, yellowgreen 10%, #e9b46e 98%);
  place-self: center;
  font-style: italic;
  text-decoration: underline;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.background {
  background-color: antiquewhite;
  padding: 50px;
}

.backg {
  background-image: url(../img/backgroundwall1.png);
  margin-top: 6rem !important;
  padding-bottom: 6rem !important;
  background-repeat: no-repeat;
}

#corps {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  place-content: center;
}

a {
  text-decoration: none;
  text-align: -webkit-center;
  color: yellowgreen;
}

.container {
  display: flex;
  margin: 0;
  text-align: -webkit-center;
}

#container2 {
  text-align: -webkit-center;
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foot {
  width: 80%;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

#header .logo a {
  color: rgba(36, 167, 43, 0.404);
}

#header .logo img {
  max-height: 40px;
}

#header.header-scrolled {
  background-image: linear-gradient(to right, yellowgreen 10%, #e9b46e 98%);
  padding: 12px 0;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 30px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
  background-color: antiquewhite;
  border: solid 1px;
  padding: 8px;
  border-radius: 5px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 80%;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #4e4e4e;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #0078ff;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(78, 78, 78, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile > ul > li {
  padding: 0;
}

.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #4e4e4e;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #0078ff;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #0078ff;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

blockquote {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  border-style: double;
  margin: 6%;
}

.separator {
  width: 45px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #66a59e;
}

.imgfondu {
  border: solid 1px;
  border-radius: 130px;
}

.moi {
  border-radius: 7px;
  width: 280px;
  height: 200px;
  border: double;
}

.sidebar {
  border: solid 1px yellowgreen;
  border-radius: 20px;
  padding: 15px;
  background-color: antiquewhite;
  margin: 50px;
}
.sidebar p {
  font-style: oblique;
  font-family: serif;
  font-size: 1.2rem;
  margin: revert;
}

.sidebar_left {
  border: solid 1px yellowgreen;
  border-radius: 20px;
  padding: 15px;
  background-color: antiquewhite;
  /* margin: 50px; */
  width: 20%;
  height: 20%;
  text-align: -webkit-center;
}
.sidebar_left p {
  font-style: oblique;
  font-family: serif;
  font-size: 1.2rem;
  margin: revert;
}

.read-more {
  text-align-last: center;
}

.read-more a {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ca9b52;
  display: inline-block;
  padding: 13px 25px;
  border: 1px solid;
  border-radius: 20px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.read-more a a {
  text-decoration: none;
}

.menu1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  background-color: #fcdfdb;
  font-family: "Ma Shan Zheng", cursive;
}

.menu1 > img,
.menu1 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  color: #000000;
}

.menu1:hover > img,
.menu1:hover i {
  opacity: 0.5;
  transform: scale(1.2);
  transform: rotate(-0.5turn);
  transition: ease-in-out 600ms;
  width: 100%;
  width: 100%;
  padding: 10px;
}

.menu2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  background-color: #fff5fe;
  font-family: "Redressed", cursive;
}

.menu2 > img,
.menu2 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  color: #000000;
}

.menu2:hover > img,
.menu2:hover i {
  opacity: 0.5;
  transform: scale(1.2);
  transform: rotate(-0.5turn);
  transition: ease-in-out 600ms;
  width: 100%;
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 1680px) {
  #corps {
    flex-wrap: nowrap;
  }

  .nenu {
    display: none !important;
  }

  .background {
    justify-content: center;
  }

  .sidebar_left {
    margin: 50px;
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    display: block;
  }

  #corps {
    flex-wrap: wrap-reverse;
  }

  .sidebar_left {
    margin: 50px;
    width: 80%;
    display: block;
  }

  .moi {
    width: 30%;
    height: 50%;
  }
}
@media screen and (max-width: 768px) {
  .moi {
    width: 50%;
    height: 50%;
  }

  .sidebar {
    display: inline-table;
  }

  .menu1 {
    margin: 0;
  }

  .menu2 {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
